/*Media*/

@media (max-width: 980px) {

  .container {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    clear: both;
    }
}

@media (max-width: 768px) {

  .container {
   width: 100%;
  /*max-width: 768px;*/
   margin: 0 auto;
   clear: both;
  }

  #logo {
   float: none;
   width: 100%;
  }

  nav {
   float: none;
   width: 100%;
  }

  .sidebar {
    float: none;
    width: 100%;
  }

  .main-section {
    float: none;
    width: 100%;
  }

  .auth-image {
   float: none;
  }

  .connect {
   float: none;
   margin: 0px;
  }
}

@media (max-width: 640px) {

  .container {
  width: 100%;
  /*max-width: 640px;*/
  margin: 0 auto;
  clear: both;
  }

  #logo {
  float: none;
  width: 100%;    
  }

  nav {
   float: none;
   width: 100%;
  }

  .sidebar {
    float: none;
    width: 100%;
    }

  .main-section {
    float: none;
    width: 100%;
    }
    
  .auth-image {
   float: none;
  }

  .connect {
   float: none;
   margin: 0px;
  }
}